.login-form {
  height: 400px;
  width: 400px;
  position: center;
}

.center {
  margin: 0;
  position: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button.btn-login {
  width: 100%
}

.fill {
  width: 100%;
}
