<h1 mat-dialog-title *ngIf="!isEdit">Create new weapon</h1>
<h1 mat-dialog-title *ngIf="isEdit">Update weapon</h1>
<div mat-dialog-content>
  <form [formGroup]="weaponForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput id="name" type="text" placeholder="Name of weapon" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gunreach (m)</mat-label>
      <input matInput id="gunReach" type="number" placeholder="Gunreach of weapon" formControlName="gunReach">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Image url</mat-label>
      <input matInput id="image" type="text" placeholder="Image url for weapon" formControlName="image">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ammunition type</mat-label>
      <mat-select formControlName="ammunitionType">
        <mat-option value="NONE">None</mat-option>
        <mat-option value="SMALL">Small</mat-option>
        <mat-option value="MEDIUM">Medium</mat-option>
        <mat-option value="LARGE">Large</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div *ngIf="submitted">
    <div *ngIf="weaponForm.controls.name.invalid">
      <div *ngIf="weaponForm.controls.name.errors.required" style="color: red">Name is required</div>
    </div>
    <div *ngIf="weaponForm.controls.gunReach.invalid">
      <div *ngIf="weaponForm.controls.gunReach.errors.required" style="color: red">Gun reach is required</div>
    </div>
    <div *ngIf="weaponForm.controls.ammunitionType.invalid">
      <div *ngIf="weaponForm.controls.ammunitionType.errors.required" style="color: red">Ammunition type is required</div>
    </div>

  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button *ngIf="isEdit" (click)="onEdit()">Update</button>
  <button mat-button *ngIf="!isEdit" (click)="onSubmit()"cdkFocusInitial>Create</button>
</div>
